body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    border: 2px solid #1A4D2E;
    border-radius: 8px;
    padding: 8 32px;
    text-align: center;
    background-color: rgba(255,  255, 255, 0.75);
}
.btn-container {
    margin-top: 4rem;
}
.header a{
    text-decoration: none;
    color: #1A4D2E;
    text-transform: capitalize;
    font-size: 1.25rem;
    transition: .50s;
}
.header a:hover{
    background-color: #1A4D2E;
    opacity: 0.90;
    color: #FFFF;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(251, 188, 1, 0.25), rgba(255, 255, 255, .75)),url(img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}

.header h1{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #1A4D2E;
}
.header p{
    padding: 0 8px;
    margin: 0;
    font-size: 1.5rem;
}
/* Sites Section */
#sites{
    width: 100%;
    height: auto;
    background-color: #FAF3E3;
      padding: 32px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
}
.site-header h1{
    color: #1A4D2E;
    font-size: 3rem;
    border-bottom: 4px solid #1A4D2E;
    padding: 0;
    border-radius: 8px;
}
.site{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;  
}
.site img{
    border: 4px solid #1A4D2E;
    border-radius: 8px;
    width: 100%;
	height: 300px;
    padding: 0;
    object-fit: cover;
    margin: 8px;
    
}

@media (min-width:600px) {
    .site img{
        width: 75%;
    }
}
@media (min-width:800px) {
    .site img{
        width: 25%;
    }
}